body {
    padding: 0;
    margin: 0;
}

div.main {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    height: 100vh;
    gap: 25px;
    background-color: antiquewhite;
}

div.header {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

div.buttons {
    display: flex;
    gap: 50px;
    padding: 10px 25px;
}

button {
    font-size: 32px;
    font-weight: 700;
    background-color: white;
    padding: 8px;
}

div.score, div.winner {
    font-size: 18px;
    font-weight: 700;
    width: 80%;
}

div.score {
    display: flex;
    flex-direction: column;
    gap: 25px;
}